@media (max-width: 1439px) {
    .sidepanel {
        left: 10px;
    }
}

@media (max-width: 1279px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            max-width: 350px;
        }
    }
    .title_fs48 {
        font-size: 36px;
        line-height: 39px;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
        background: url(../img/background-mobile.png) 100% 50%/cover no-repeat;
    }
    .title_fs48 {
        font-size: 26px;
        margin-bottom: 32px;
    }

    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 55px;
        }
    }
}