@media (max-width: 1439px) {
    .sidepanel {
        left: 10px;
    }
}

@media (max-width: 1279px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about-me {
        &__wrapper {
            padding: 0;
            column-gap: 50px;
        }
        &__skills {
            column-gap: 20px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about-me {
        padding-top: 80px;
        &__wrapper {
            gap: 30px;
            grid-template: auto 1fr/300px 1fr;
        }
        &__skills {
            display: grid;
            grid-template: repeat(3, 1fr)/auto;
        }
    }
    .title_fs36 {
        font-size: 30px;
        line-height: 45px;
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            padding: 0;
            column-gap: 50px;
        }
    }
    .divider_mb60 {
        margin-bottom: 40px;
    }
    .title__second {
        margin-bottom: 15px;
    }
    .tools {
        padding-top: 40px;
        &__wrapper {
            grid-template: repeat(3, 1fr)/repeat(3, 1fr);
            margin-bottom: 48px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            max-width: 350px;
        }
    }
    .title_fs48 {
        font-size: 36px;
        line-height: 39px;
    }
    .about-me {
        &__wrapper {
            grid-template: 400px auto auto/1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template: repeat(2, auto)/repeat(2, 1fr);
        }
    }
    .tools {
        padding-top: 40px;
        &__wrapper {
            grid-template: repeat(4, 1fr)/1fr 1fr;
        }
        .divider {
            margin-bottom: 20px;
        }
        .progress {
            grid-template: repeat(3, 1fr)/1fr 1fr;
            gap: 30px;
        }
        .tool {
            min-height: unset;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
        background: url(../img/background-mobile.png) 100% 50%/cover no-repeat;
    }
    .title_fs48 {
        font-size: 26px;
        margin-bottom: 32px;
    }

    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 55px;
        }
    }
    .about-me {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto/1fr;
            gap: 20px;
        }
        &__skills {
            grid-template: repeat(3, auto)/1fr;
        }
    }
    .title__left {
        margin-bottom: 26px;
    }
    .title__first {
        margin-bottom: 26px;
    }
    .title_fs36 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 15px;
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            flex-direction: column;
            gap: 40px;
        }
    }
    .tools {
        &__wrapper {
            grid-template: repeat(7, 1fr)/1fr;
            gap: 20px;
        }
        .progress {
            grid-template: repeat(6, 1fr)/1fr;
            gap: 40px;
        }
    }
}