@media (max-width: 1439px) {
    .sidepanel {
        left: 10px;
    }
}

@media (max-width: 1279px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about-me {
        &__wrapper {
            padding: 0;
            column-gap: 50px;
        }
        &__skills {
            column-gap: 20px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: auto/repeat(auto-fit,280px);
            justify-content: center;
        }
        .horizontal, .vertical {
            grid-area: unset;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 500px;
        }
        &__form {
            gap: 20px;
            grid-template: 45px minmax(100px, 1fr) 45px/repeat(2,1fr);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about-me {
        padding-top: 80px;
        &__wrapper {
            gap: 40px;
            grid-template: auto 1fr/300px 1fr;
        }
        &__skills {
            display: grid;
            grid-template: repeat(3, 1fr)/auto;
        }
    }
    .title_fs36 {
        font-size: 30px;
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            padding: 0;
            column-gap: 50px;
        }
    }
    .divider_mb60 {
        margin-bottom: 40px;
    }
    .title__second {
        margin-bottom: 15px;
    }
    .tools {
        padding-top: 80px;
        &__wrapper {
            margin-bottom: 50px;
        }
    }
    .progress {
        grid-template: auto/repeat(auto-fit,300px);
        gap: 40px;
    }
    .portfolio {
        padding-top: 80px;
    }
    .price {
        padding-top: 80px;
        &__wrapper {
            padding: 0;
            grid-template: auto/repeat(auto-fit,350px);
        }
    }
    .contacts {
        padding: 80px 0 80px 0;
        &__wrapper {
            grid-template-columns: 300px 1fr;
        }
        &__triggers {
            column-gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            max-width: 350px;
        }
    }
    .title_fs48 {
        font-size: 36px;
    }
    .about-me {
        padding-top: 50px;
        &__wrapper {
            grid-template: 400px auto auto/1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template: repeat(2, auto)/repeat(2, 1fr);
        }
    }
    .resume {
        padding-top: 50px;
    }
    .tools {
        padding-top: 50px;
        .divider {
            margin-bottom: 20px;
        }
        &__wrapper {
            gap: 20px;
        }
        .tool {
            min-height: unset;
        }
    }
    .portfolio {
        padding-top: 50px;
    }
    .price {
        padding-top: 50px;
        &__wrapper {
            grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
            justify-content: center;
        }
        &__item {
            grid-template: repeat(2,auto)/repeat(2,auto);
        }
    }
    .contacts {
        padding: 50px  0 50px 0;
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__photo {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
        background: url(../img/background-mobile.webp) 100% 50%/cover no-repeat;
    }
    .btn {
        font-size: 14px;
        line-height: 21px;
    }
    .title_fs48 {
        font-size: 26px;
        margin-bottom: 32px;
    }
    .title_fs36 {
        font-size: 24px;
        line-height: 36px;
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 55px;
        }
    }
    .about-me {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto/1fr;
            gap: 20px;
        }
        &__skills {
            grid-template: repeat(3, auto)/1fr;
        }
    }
    .title__left {
        margin-bottom: 26px;
    }
    .title__first {
        margin-bottom: 26px;
    }
    .title_fs36 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            flex-direction: column;
            gap: 40px;
        }
    }
    .contacts {
        &__form {
            grid-template: 45px 45px 143px auto/1fr;
        }
        &__textarea {
            grid-area: unset;
        }
        &__triggers {
            grid-area: unset;
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &__btn {
            width: 219px;
            order: 2;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            order: 1;
            margin: 0 auto;
        }
    }
}