@keyframes arrowDown {
	from {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		transform: translateY(20px);
		opacity: 0;
	}
}

@keyframes appearRight {
	from {
		transform: translateX(100vh);
	}
	to {
		transform: translateX(0);
	}
}

