.about-me {
	min-height: 600px;
	padding-top: 120px;
	&__wrapper {
		padding-right: 100px;
		display: grid;
		grid-template: auto 1fr/400px 1fr;
        gap: 40px 70px;
	}
	&__photo {
		grid-row: 1/3;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__descr {
		margin: 0;
		font-size: 14px;
		font-weight: 500;
		line-height: 21px; 
	}
	&__skills {
		display: grid;
		gap: 20px 50px;
		grid-template: auto 1fr/repeat(2, 1fr);
		grid-auto-rows: 1fr;
	}
}
.skill {
	display: grid;
	grid-template-columns: 40px 1fr;
	gap: 20px;
	&__icon {
		padding: 15px 0 0 15px;
		position: relative;
		@include before_circle;
		&:before {
			left: 0;
			top: 0;
		}
	}
	&__title {
		margin-bottom: 6px;
	}
	&__descr {
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
	}
}



