.contacts {
    padding: 120px 0 90px 0;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
        }
    }
    &__text {
        margin-bottom: 20px;
    }
    &__social {
        margin-bottom: 20px;
    }
}