.price {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template: repeat(3, auto) / repeat(2, 370px);
        row-gap: 15px;
        justify-content: space-between;
    }
    &__title {
        padding-left: 14px;
        grid-area: 1/1/2/2;
        align-self: start;
        position: relative;
        @include before_circle;
        &:before {
            top: -30%;
        }
    }
    &__descr {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}