.title {
	&_fs14 {
		font-weight: 700;
		font-size: 14px;
		line-height: 21px;
	}
	&_fs16 {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
	}
	&_fs36 {
		font-weight: 700;
		font-size: 36px;
		line-height: 60px;
	}
	&_fs48 {
		font-weight: 700;
		font-size: 48px;
		line-height: 60px;
	}
}