.promo {
	height: 100vh;
	width: 100%;
	position: relative;
	background: url('../img/Background.jpg') center center/cover no-repeat;
	display: flex;
	align-items: center;
	&__title {
		margin-bottom: 40px;
		max-width: 520px;
	}
	&__btns {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
	}
	&__wrapper {
		transform: translateY(-44px);
	}
	#promo-subtitle {
		margin-bottom: 20px;
	}
}

.arrow {
	position: absolute;
	left: 50%;
	bottom: 0px;
	width: 50px;
	height: 70px;
	cursor: pointer;
	&:hover {
		svg {
			animation-name: none;
			transform: translateY(10px);
		}
	}
	svg {
		animation-name: arrowDown;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		fill: #FFF;
	}
}

@keyframes arrowDown {
	from {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		transform: translateY(20px);
		opacity: 0;
	}
	}
